/*define generic page parameters such as width, height, fonts & sizes etc*/
body
{  
    min-width:960px;
    background:url("pics/DarkWood_Faces_logov2.png") center top fixed;
    background-size: 100%;
    margin:0 auto;
    width: 100%;
    position: relative;
}
#navBar {
    text-align: center;
    color: white;
    background:url("pics/navSliver.png") repeat-x;
    height:84px;
    line-height:84px;
    width: 100%;
    position:fixed; /*bueno?*/
    top:0%;
}
/*classes*/
.divider{
    height:500px;
    margin:0 auto;
    //background: #185675;
    text-align:center;
    line-height:500px;
}
.content{
    min-width:960px;
    text-align:center;
    /*background-color:yellow;*/
    /*height:1037px;*/
    padding: 50px 0;
    background: url(pics/WhiteBackground_min.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.aBar {
    text-align: center;
    color: white;
    background: url("pics/aSliver.png") repeat-x;
    height: 75px;
    line-height: 75px;
    width: 100%;
}
.bBar {
    background: url("pics/bBarSliver.png") repeat-x;
    height: 27px;
    width: 100%;
}
.contentPic{ 
    //min-width:720px;
    width: 75%;
    z-index: 0;
}
.dividerPic{
    position:center;
}
.qText{
font-size:60px;
color:white;
font-family:Impact;
}
.aText{
font-size:36px;
font-family: impact;}
.cText{

font-size: 24px;
font-family: 'PT Sans Narrow', sans-serif;}
.navLink{
    font-size:45px;
    margin:30px;
    font-family: Impact;
    color:white;
    text-decoration:none;
}

/*CallJack IDs*/
#aBarCJ{

}
#contentCJ{

}
